<% flash.each do |type, message| %>
    $('#flash_messages').append(`
        <div class="alert-box <%= type %>">
            <%= j message %>
            <a href="#" class="close">&times;</a>
        </div>
    `);
<% end %>

<% flash.clear %>

$('#main_content').html("<%= j(render 'data') %>");

stickyFooter();

$(document).foundation('reflow');