<% flash.each do |type, message| %>
    $('#flash_messages').append(`
        <div class="alert-box <%= type %>">
            <%= j message %>
            <a href="#" class="close">&times;</a>
        </div>
    `);
<% end %>

<% flash.clear %>

$(".row_<%= @record[@table.primary_key] %>").html("<%= j(render 'row', record: @record) %>");

$('#system_modal').foundation('reveal', 'close');

$(document).scrollTop(0);